* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  color: #fff;
  /* familia de fuentes: 'Lexend Deca', sans-serif; */
}

.contain {
  width: 800px;
  height: 300px;
  margin: auto;
  margin-top: 200px;
}

.contain-main {
  display: flex;
  background-color: hsl(228, 51%, 22%);
  border-radius: 7px;
}

.main1 {
  width: 50%;
  margin: 40px 30px 20px 16px;
}
.main1 h1 {
  margin: 20px 0 0 20px;
  font-size: 27px;
  font-weight: bold;
}
.main1 h1 strong {
  color: rgb(150, 39, 219);
}
.main1 .paragraph {
  margin: 15px 0 0 20px;
  font-size: 15px;
  color: rgb(163, 159, 159);
}

.main1 ul {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.main1 ul li {
  list-style: none;
}
.footer-number {
  font-size: 20px;
  font-weight: 900;
}
.footer-letter {
  font-size: 15px;
  color: rgb(163, 159, 159);
}

.main2 {
  width: 50%;
  background: linear-gradient(
      rgba(129, 52, 177, 0.582),
      rgba(129, 52, 177, 0.582)
    ),
    url(../img/image-header-mobile.jpg) no-repeat center center/cover;
  width: 400px;
  height: 300px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
